Created on : 24/02/2025, 20:52:32
Author : diego
--%>

<%@page contentType="text/html" pageEncoding="UTF-8" %>
    <!DOCTYPE html>
    <html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>UEG - Desenvolvimento Web 2025: Alunos</title>
    </head>

    <body>
        <h1>Lista de Alunos</h1>



        <table>
            <tr>

                <th>Nome</th>
                <th>Matrícula</th>
                <th>Ações</th>
            </tr>

            <td>
                DIEGO BARBOSA
            </td>
            <td>
                1 2 3 4 5
            </td>
            <td>
                <ul>
                    <li>
            <td><a href="aluno-update.html"> Editar</a></td>
            </li>
            <td><a href="aluno-delete.html"> Excluir</a></td>
            </li>
            </ul>
            </td>
            </tr>
        </table>

    </body>

    </html>